openapi: 3.0.3
info:
  title: Censys Search API
  description:
    "The Censys REST API provides programmatic access to the same data accessible through the web
    interface. API access is governed by our [Terms of Service](https://censys.io/tos/) and all scripted access should use this API.
    Endpoints are hosted at [`https://search.censys.io`](https://search.censys.io) and require authenticating with HTTP basic auth using
    the API ID and secret that are shown on the [account](/account/api) page, which also lists the rate limits that apply to your account.
    \n\n### Use This API
    \n - Import the Censys [Postman Collection](https://github.com/censys/censys-postman) and call the API with Postman.
    \n - Call the API from your Python app using our [Python library](https://github.com/censys/censys-python).
    \n - Call the API from your NodeJS app using our [NodeJS library](https://github.com/censys/censys-node-js).
    "
  contact:
    name: Support
    email: support@censys.io
  version: "2.0"
servers:
  - url: https://search.censys.io/api
security:
  - basicAuth: []
tags:
  - name: hosts
    description: Everything about Hosts (v2)
  - name: certificates v1
    description: Everything about Certificates (v1)
  - name: certificates v2
    description: Everything about Certificates (v2)
  - name: data
    description: Everything about Data (v1)
  - name: account
    description: Everything about your Account (v1)
  - name: metadata
    description: Everything about our Data (v2)
  - name: comments
    description: Everything about Comments (v2)
  - name: tags
    description: Everything about Tags (v2)
  - name: experimental
    description: APIs which are subject to change in the future but are available for testing.
paths:
  /v2/hosts/search:
    get:
      tags:
        - hosts
      summary: Returns previews of hosts matching a specified search query
      description:
        "Accepts queries for host or service attributes provided in the Censys
        Search Language and returns a list of matching hosts with some summary fields.
        \n\n**Cursor Pagination**
        \n\nSearch endpoints rely on using cursors for efficient pagination.
        \n\nEach search result may return a `next` and `prev` cursor value
        which can be used to fetch additional pages of results.
        \n\n```json
        \n{\n\t\"links\":{
        \n\t\t\"prev\":\"prevCursorToken\",
        \n\t\t\"next\":\"nextCursorToken\"
        \n\t},
        \n\t[Rest of Response]\n}
        \n```
        \nThe returned cursor token values can be added to the search endpoint as
        a `cursor` parameter to fetch either the next page of results or the previous page.
        \n\nThe entire set of results can be iterated page-by-page using returned
        cursors. If no cursor is given, the first page will be returned."
      externalDocs:
        url: /search/language
      operationId: searchHosts
      parameters:
        - name: q
          in: query
          description: Query used to search for hosts with matching attributes. Uses the Censys Search Language.
          schema:
            type: string
            example: "service.service_name: HTTP"
        - name: per_page
          in: query
          description:
            The maximum number of hits to return in each response (minimum of 1, maximum of 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: virtual_hosts
          in: query
          description: |
            Determine how to query Virtual Hosts. The default is `EXCLUDE` which will ignore any virtual hosts entries.
            When set to `INCLUDE` or `ONLY` virtual hosts will be present in the returned list of hits, with the later
            returning only virtual hosts.

            To learn more, see the [Help Desk article on Virtual Hosts](https://support.censys.io/hc/en-us/articles/4411773845524).
          schema:
            type: string
            enum: [EXCLUDE, INCLUDE, ONLY]
            default: EXCLUDE
        - name: cursor
          in: query
          description:
            Cursor token from the API response, which fetches the next or previous page of hits when added to the endpoint URL.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      query:
                        type: string
                        example: "service.service_name: HTTP"
                      total:
                        type: integer
                        example: 50000
                      hits:
                        type: array
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/HostHit"
                            - $ref: "#/components/schemas/VirtualHostHit"
                        maxItems: 100
                  links:
                    type: object
                    properties:
                      prev:
                        type: string
                        example: "prevCursorToken"
                      next:
                        type: string
                        example: "nextCursorToken"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidCursorExample:
                  $ref: "#/components/examples/invalidCursorExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/hosts/aggregate:
    get:
      tags:
        - hosts
      summary:
        Returns aggregation of hosts that match the given query string
      description:
        Aggregates hosts that match the given query string into buckets
        based on the given field. See help on the Censys Search Language
        for help on constructing a search query.
      externalDocs:
        url: /search/language
      operationId: aggregateHosts
      parameters:
        - name: q
          in: query
          description:
            Query used to search for Hosts which will be aggregated.
            Query uses the Censys Search Language.
          schema:
            type: string
            example: "service.service_name: HTTP"
        - name: field
          in: query
          description:
            The field used to aggregated upon and generate buckets for.
            If the field is a service level field, the aggregation result
            will be based on services which belong to hosts which match
            the query, not the hosts themselves.
          required: true
          schema:
            type: string
            example: services.port
        - name: num_buckets
          in: query
          description:
            "The maximum number of buckets used to generate aggregate results."
          schema:
            type: integer
            maximum: 1000
            minimum: 1
            default: 50
        - name: virtual_hosts
          in: query
          description: |
            Determine how to query Virtual Hosts. The default is `EXCLUDE` which will ignore any virtual hosts entries.
            When set to `INCLUDE` or `ONLY` virtual hosts will be present in the returned list of hits, with the later
            returning only virtual hosts.

            To learn more, see the [Help Desk article on Virtual Hosts](https://support.censys.io/hc/en-us/articles/4411773845524).
          schema:
            type: string
            enum: [EXCLUDE, INCLUDE, ONLY]
            default: EXCLUDE
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 500000
                      total_omitted:
                        type: integer
                        example: 500000
                      potential_deviation:
                        type: integer
                        example: 5000
                      buckets:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                              example: "80"
                            count:
                              type: integer
                              example: 50000
                        maxItems: 200
                      query:
                        type: string
                        example: "service.service_name: HTTP"
                      field:
                        type: string
                        example: services.port
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
                invalidFieldExample:
                  $ref: "#/components/examples/invalidFieldExample"
                invalidNumBucketsExample:
                  $ref: "#/components/examples/invalidNumBucketsExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/hosts/{ip}:
    get:
      tags:
        - hosts
      summary: Returns host information for the specified IP address
      description: Fetches the entire host entity by IP address and returns the most recent Censys view of the host and its services.
      operationId: viewHost
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: 1.1.1.1
            maxLength: 39
        - name: at_time
          in: query
          description:
            "Fetches the Censys view of a host and its services at the specified point in time.\
            \ Requires historical API access. \nNanosecond precision is allowed. Uses RFC3339 Timestamp."
          schema:
            type: string
            format: date-time
            maxLength: 24
      responses:
        200:
          description: The host was successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    allOf:
                      - $ref: "#/components/schemas/Host"
                    properties:
                      last_updated_at:
                        type: string
                        format: date-time
                        maxLength: 24
                      location_updated_at:
                        type: string
                        format: date-time
                        maxLength: 24
                      autonomous_system_updated_at:
                        type: string
                        format: date-time
                        maxLength: 24
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid IP address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidIpExample:
                  $ref: "#/components/examples/invalidIpExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/hosts/{ip}/diff:
    get:
      tags:
        - hosts
      summary: Returns a diff of a host against different points in time or against a different host altogether.
      description: |
        The diff endpoint generates a JSONPatch (RFC6902) formatted patch by comparing a host against another host (or itself) at
        optionally given points in time.

        The host as specified by the IP in the path and the `at_time` parameter is referred to as the original host, or simply "A".
        The host specified by the parameters `ip_b` and `at_time_b` is referred to as "B".

        The differential generated provides a sequence of steps needed to transform Host A into Host B.
      operationId: viewHostDiff
      parameters:
        - name: ip
          in: path
          description: The IP Address of the original host. Referred to as Host A.
          required: true
          schema:
            type: string
            example: 1.1.1.1
            maxLength: 39
        - name: ip_b
          in: query
          description: The IP Address of the other host. If not set, defaults to the host provided in the path. Referred to as Host B.
          schema:
            type: string
            example: 1.1.1.2
            maxLength: 39
        - name: at_time
          in: query
          description: |
            The point in time used as the basis for Host A.

            Requires historical API access.
            Nanosecond precision is allowed. Uses RFC3339 Timestamp.
          schema:
            type: string
            format: date-time
            maxLength: 24
        - name: at_time_b
          in: query
          description: |
            The point in time used as the basis for Host B.

            Requires historical API access.
            Nanosecond precision is allowed. Uses RFC3339 Timestamp.
          schema:
            type: string
            format: date-time
            maxLength: 24
      responses:
        200:
          description: A diff was successfully generated for the given host(s).
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      a:
                        type: object
                        properties:
                          ip:
                            type: string
                            description: The IP address of the original host.
                          last_updated_at:
                            type: string
                            format: date-time
                            description: Returned updated timestamp of the original host.
                      b:
                        type: object
                        properties:
                          ip:
                            type: string
                            description: The IP address of the other host.
                          last_updated_at:
                            type: string
                            format: date-time
                            description: Returned updated timestamp of the other host.
                      patch:
                        type: array
                        format: jsonpatch
                        items:
                          type: object
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid IP address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidIpExample:
                  $ref: "#/components/examples/invalidIpExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/experimental/hosts/{ip}/events:
    get:
      tags:
        - experimental
        - hosts
      summary: Returns host events for the specified IP address
      description: |
        Fetches a list of events for the host with the specified IP address.

        **Cursor Pagination**

        This endpoint relies on using cursors for efficient pagination. Each result may
        return a `next` cursor value which can be used to fetch additional pages of results.
        This endpoint only support forward-pagination.

        ```json
        {
          "links": {
            "next": "nextCursorToken"
          },
          [Rest of Response]
        }
        ```
        The returned cursor token values can be added to the endpoint as a `cursor`
        parameter to fetch the next page of results.
        The entire set of results can be iterated page-by-page using returned
        cursors. If no cursor is given, the first page will be returned.
      operationId: viewHostEvents
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: 1.1.1.1
            maxLength: 90
        - name: start_time
          in: query
          description: |
            An optional RFC3339 timestamp which represents the beginning
            chronological point-in-time (inclusive) from which events
            are returned. This must always be earlier than end_time.
            Precision up to *nanoseconds* is observed and recommended.

            If not provided, this is assumed to be the historical API maximum.
          schema:
            type: string
            format: date-time
            maxLength: 24
        - name: end_time
          in: query
          description: |
            An optional RFC3339 timestamp which represents the ending
            chronological point-in-time (exclusive) from which events
            are returned. This must always be later than start_time.
            Precision up to *nanoseconds* is observed and recommended.

            If not provided, this is assumed to be now.
          schema:
            type: string
            format: date-time
            maxLength: 24
        - name: per_page
          in: query
          description:
            The maximum number of hits to return in each response (minimum of 1, maximum of 50).
          schema:
            type: integer
            maximum: 50
            minimum: 1
            default: 25
        - name: cursor
          in: query
          description:
            Cursor token from the API response, which fetches the next or previous page of hits when added to the endpoint URL.
          schema:
            type: string
        - name: reversed
          in: query
          description:
            Reverse the order of the return events, that is, return events in reversed chronological order.
          schema:
            type: boolean
      responses:
        200:
          description: Events for the host were sucessfully retrieved.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      ip:
                        type: string
                        example: 1.1.1.1
                      events:
                        type: array
                        items:
                          $ref: "#/components/schemas/HostEvent"

        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid IP address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidIpExample:
                  $ref: "#/components/examples/invalidIpExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/hosts/{ip}/names:
    get:
      tags:
        - hosts
      summary: Returns host names for the specified IP address
      description:
        Fetches a list of host names for the specified IP address.

      operationId: viewHostNames
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: 1.1.1.1
            maxLength: 39
        - name: per_page
          in: query
          description:
            The maximum number of hits to return in each response (minimum of 1, maximum of 1000).
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          description:
            Cursor token from the API response, which fetches the next page of names when added to the endpoint URL.
          schema:
            type: string
      responses:
        200:
          description: The host names were successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      names:
                        type: array
                        items:
                          type: string
                        maxItems: 100
                        example:
                          - "google.com"
                          - "google.co.uk"
                          - "google.com.au"
                          - "..."
                      links:
                        type: object
                        properties:
                          next:
                            type: string
                            example: "nextCursorToken"

        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/hosts/{ip}/comments:
    get:
      tags:
        - hosts
        - comments
      summary: Returns a list of comments on the given host.
      description: |
        Returns a list of comments on the given host.
      operationId: getCommentsByHost
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: 1.1.1.1
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      ip:
                        type: string
                        example: 1.1.1.1
                      comments:
                        type: array
                        items:
                          $ref: "#/components/schemas/HostComment"
    post:
      tags:
        - hosts
        - comments
      summary: Adds a comment on the given host.
      description: |
        Adds a comment on the given host.
      operationId: addCommentByHost
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: 1.1.1.1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  example: "**This is a comment.**"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/HostComment"
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v2/hosts/{ip}/comments/{comment_id}:
    get:
      tags:
        - hosts
        - comments
      summary: Returns a specific comment on the given host.
      description: |
        Returns a specific comment on the given host.
      operationId: getCommentByHost
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: "1.1.1.1"
        - name: comment_id
          in: path
          description: The ID of the requested comment.
          required: true
          schema:
            type: string
            example: "123"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/HostComment"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    put:
      tags:
        - hosts
        - comments
      summary: Updates a specific comment on the given host.
      description: |
        Updates a specific comment on the given host.
      operationId: updateCommentByHost
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: "1.1.1.1"
        - name: comment_id
          in: path
          description: The ID of the requested comment.
          required: true
          schema:
            type: string
            example: "123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  example: "**This is a comment.**"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/HostComment"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    delete:
      tags:
        - hosts
        - comments
      summary: Deletes a specific comment on the given host.
      description: |
        Deletes a specific comment on the given host.
      operationId: deleteCommentByHost
      parameters:
        - name: ip
          in: path
          description: The IP Address of the requested host.
          required: true
          schema:
            type: string
            example: "1.1.1.1"
        - name: comment_id
          in: path
          description: The ID of the requested comment.
          required: true
          schema:
            type: string
            example: "123"
      responses:
        204:
          description: No Content
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
  /v2/metadata/hosts:
    get:
      tags:
        - hosts
        - metadata
      summary: Returns host metadata about what Censys scans for
      description:
        "The host metadata endpoint returns a list of services Censys scans for.
        These are the values that can be given as values for
        the `services.service_name` field in search queries."
      operationId: getHostMetadata
      responses:
        200:
          description: The metadata was retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      services:
                        type: array
                        items:
                          type: string
                        example:
                          - "HTTP"
                          - "IMAP"
                          - "MQTT"
                          - "SSH"
                          - "..."
  /v2/certificates/{fingerprint}:
    get:
      tags:
        - certificates v2
      summary: Returns the certificate record for the specified SHA-256 fingerprint.
      description: |
        Fetches the certificate record for the specified SHA-256 fingerprint, including parsed data, certificate transparency log information, root store trust information, zlint results, and Censys observation metadata.
      operationId: getCertByFingerprint
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9b00121b4e85d50667ded1a8aa39855771bdb67ceca6f18726b49374b41f0041
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/CertificateV2"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid SHA-256 fingerprint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidCertExample:
                  $ref: "#/components/examples/invalidCertExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v2/certificates/bulk:
    get:
      tags:
        - certificates v2
      summary: Returns certificate records for up to 1000 specified SHA-256 fingerprints.
      description:
        "Fetches the certificate records for the specified SHA-256 fingerprints, including parsed data, certificate transparency log information,
        root store trust information, zlint results, and Censys observation metadata.
        \n\n
        Each requested certificate will be available as a key in the response, regardless of whether or
        not we know anything about them. Any certificates which we don't know anything about will be replaced
        by an error, as shown at the top of the example below."
      operationId: getBulkCerts
      parameters:
        - name: fingerprints
          in: query
          description: The SHA-256 fingerprints of the requested certificate records.
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            example:
              - 9b00121b4e85d50667ded1a8aa39855771bdb67ceca6f18726b49374b41f0041
              - be722596c9fff071367ff4db5c4495d0bfa035917ffefff0c0c359e536f2ae5b
              - 8f066c8dfdd3c0bff724f7c77d3c0b375d4c78afcfa2f083883ae47a51cd4d55
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/CertificateV2"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid SHA-256 fingerprint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidCertExample:
                  $ref: "#/components/examples/invalidCertExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
    post:
      tags:
        - certificates v2
      summary: Returns certificate records for up to 1000 specified SHA-256 fingerprints.
      description:
        "Fetches the certificate records for the specified SHA-256 fingerprints, including parsed data, certificate transparency log information,
        root store trust information, zlint results, and Censys observation metadata.
        \n\n
        Each requested certificate will be available as a key in the response, regardless of whether or
        not we know anything about them. Any certificates which we don't know anything about will be replaced
        by an error, as shown at the top of the example below."
      operationId: postBulkCerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fingerprints:
                  description: The SHA-256 fingerprints of the requested certificate records.
                  required:
                    - fingerprints
                  type: array
                  items:
                    type: string
                  example:
                    - 9b00121b4e85d50667ded1a8aa39855771bdb67ceca6f18726b49374b41f0041
                    - be722596c9fff071367ff4db5c4495d0bfa035917ffefff0c0c359e536f2ae5b
                    - 8f066c8dfdd3c0bff724f7c77d3c0b375d4c78afcfa2f083883ae47a51cd4d55
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/CertificateV2"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid SHA-256 fingerprint.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidCertExample:
                  $ref: "#/components/examples/invalidCertExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v2/certificates/search:
    get:
      tags:
        - certificates v2
      summary: Returns previews of certificate records matching a specified query.
      description:
        "Accepts queries for certificate attributes provided in the Censys
        Search Language and returns a list of matching certificates with some summary fields.
        \n\n
        **Cursor Pagination**
        \n\n
        Search endpoints rely on using cursors for efficient pagination.
        \n\n
        Each search result may return a `next` and `prev` cursor value
        which can be used to fetch additional pages of results.
        \n\n
        ```json
          \n{\n\t\"links\":{
          \n\t\t\"prev\":\"prevCursorToken\",
          \n\t\t\"next\":\"nextCursorToken\"
          \n\t},
          \n\t[Rest of Response]\n}
          \n
        ```
        \n
        The returned cursor token values can be added to the search endpoint as
        a `cursor` parameter to fetch either the next page of results or the previous page.
        \n\n
        The entire set of results can be iterated page-by-page using returned
        cursors. If no cursor is given, the first page will be returned."
      externalDocs:
        url: /search/language
      operationId: getSearchCertificates
      parameters:
        - name: q
          in: query
          description: Query used to search for certificates with matching attributes. Uses the Censys Search Language.
          schema:
            type: string
            example: "parsed.subject.country: AU"
        - name: per_page
          in: query
          description:
            The maximum number of hits to return in each response (minimum of 1, maximum of 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          description:
            Cursor token from the API response, which fetches the next or previous page of hits when added to the endpoint URL.
          schema:
            type: string
        - name: fields
          in: query
          description: |
            Additional fields to return in the matched certificates outside of the default returned fields.
            For a list of additional fields to search on take a look at the data definition for the certs2 model.
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            example:
              - "names"
              - "fingerprint_sha256"
              - "parsed.issuer.organization"
              - "parsed.subject.postal_code"
        - name: sort
          in: query
          description: |
            A list of fields to sort on. By default, fields will be sorted in ascending order. To sort in
            descending order, prepend a '-' to the field name, ie: '-fingerprint_sha256'
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            example:
              - "parsed.issuer.organization"
              - "parsed.subject.country"
              - "-parsed.subject.postal_code"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      query:
                        type: string
                        example: "parsed.subject.country: AU"
                      total:
                        type: integer
                        example: 50000
                      duration_ms:
                        type: integer
                        example: 356
                      hits:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/CertHit"
                        maxItems: 100
                  links:
                    type: object
                    properties:
                      prev:
                        type: string
                        example: "prevCursorToken"
                      next:
                        type: string
                        example: "nextCursorToken"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidCursorExample:
                  $ref: "#/components/examples/invalidCursorExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
    post:
      tags:
        - certificates v2
      summary: Returns previews of certificates matching a specified search query.
      description:
        "Accepts queries for certificate attributes provided in the Censys
        Search Language and returns a list of matching certificates with some summary fields.
        \n\n
        **Cursor Pagination**
        \n\n
        Search endpoints rely on using cursors for efficient pagination.
        \n\n
        Each search result may return a `next` and `prev` cursor value
        which can be used to fetch additional pages of results.
        \n\n
        ```json
          \n{\n\t\"links\":{
          \n\t\t\"prev\":\"prevCursorToken\",
          \n\t\t\"next\":\"nextCursorToken\"
          \n\t},
          \n\t[Rest of Response]\n}
          \n
        ```
        \n
        The returned cursor token values can be added to the search endpoint as
        a `cursor` parameter to fetch either the next page of results or the previous page.
        \n\n
        The entire set of results can be iterated page-by-page using returned
        cursors. If no cursor is given, the first page will be returned."
      externalDocs:
        url: /search/language
      operationId: postSearchCertificates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  description: Query used to search for certificates with matching attributes. Uses the Censys Search Language.
                  type: string
                  example: "parsed.subject.country: AU"
                per_page:
                  description:
                    The maximum number of hits to return in each response (minimum of 1, maximum of 100).
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 50
                cursor:
                  description:
                    Cursor token from the API response, which fetches the next or previous page of hits when added to the endpoint URL.
                  type: string
                  example: eyJ2ZXJzaW9uIjoxLCJzb3J0IjpbeyJmaW5nZXJwcmludF9zaGEyNTYuX19yYXciOnsib3JkZXIiOiJhc2MiLCJtb2RlIjoibWluIiwibWlzc2luZyI6Il9sYXN0In19LHsiX3Njb3JlIjp7Im9yZGVyIjoiZGVzYyJ9fSx7ImZpbmdlcnByaW50X3NoYTI1Ni5fX3JhdyI6eyJvcmRlciI6ImFzYyIsIm1vZGUiOiJtaW4iLCJtaXNzaW5nIjoiX2xhc3QifX1dLCJzZWFyY2hfYWZ0ZXIiOlsiIiwwLjAsIiJdLCJyZXZlcnNlZCI6ZmFsc2V9
                fields:
                  description: |
                    Additional fields to return in the matched certificates outside of the default returned fields.
                    For a list of additional fields to search on take a look at the data definition for the certs2 model.
                  type: array
                  items:
                    type: string
                  example:
                    - "names"
                    - "fingerprint_sha256"
                    - "parsed.issuer.organization"
                    - "parsed.subject.postal_code"
                sort:
                  description: |
                    A list of fields to sort on. By default, fields will be sorted in ascending order. To sort in
                    descending order, prepend a '-' to the field name, ie: '-fingerprint_sha256'
                  type: array
                  items:
                    type: string
                  example:
                    - "parsed.issuer.organization"
                    - "parsed.subject.postal_code"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      query:
                        type: string
                        example: "parsed.subject.country: AU"
                      total:
                        type: integer
                        example: 50000
                      duration_ms:
                        type: integer
                        example: 356
                      hits:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/CertHit"
                        maxItems: 100
                  links:
                    type: object
                    properties:
                      prev:
                        type: string
                        example: "prevCursorToken"
                      next:
                        type: string
                        example: "nextCursorToken"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        422:
          description: Invalid cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidCursorExample:
                  $ref: "#/components/examples/invalidCursorExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/certificates/aggregate:
    get:
      tags:
        - certificates v2
      summary: Returns aggregation of certificates that match the given query string.
      description: |
        Aggregates certificate records matching a specified query into buckets based on the given field.
        See help on the Censys Search Language for help on constructing a search query.
      externalDocs:
        url: /search/language
      operationId: aggregateCertificates
      parameters:
        - name: q
          in: query
          description:
            Query used to search for Certificates which will be aggregated.
            Query uses the Censys Search Language.
          schema:
            type: string
            example: "parsed.subject.country: AU"
        - name: field
          in: query
          description:
            The field used to aggregated upon and generate buckets for.
            Buckets will be sorted in descending order from most commonly occuring
            value to the least based on the number of buckets requested.
          required: true
          schema:
            type: string
            example: parsed.issuer.organization
        - name: num_buckets
          in: query
          description:
            The maximum number of buckets used to generate aggregate results.
          schema:
            type: integer
            maximum: 100
            minimum: 1
            default: 50
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      query:
                        type: string
                        example: "parsed.subject.country: AU"
                      field:
                        type: string
                        example: parsed.issuer.organization
                      total:
                        type: integer
                        example: 58906.0
                      duration_ms:
                        type: integer
                        example: 690
                      buckets:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            count:
                              type: integer
                        maxItems: 100
                        example:
                          - key: "Internet Widgits Pty Ltd"
                            count: 23748.0
                          - key: "DigiCert Inc"
                            count: 10885.0
                          - key: "QuoVadis Limited"
                            count: 1883.0
                          - key: "Entrust, Inc."
                            count: 1475.0
                          - key: "Webmin"
                            count: 1071.0
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                invalidSearchExample:
                  $ref: "#/components/examples/invalidSearchExample"
                invalidFieldExample:
                  $ref: "#/components/examples/invalidFieldExample"
                invalidNumBucketsExample:
                  $ref: "#/components/examples/invalidNumBucketsExample"
        401:
          description: You must authenticate with a valid API ID and secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unauthorizedExample:
                  $ref: "#/components/examples/unauthorizedExample"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/certificates/{fingerprint}/hosts:
    get:
      tags:
        - certificates v2
      summary: Returns a list of hosts presenting the given certificate.
      description: |
        Returns a list of hosts which contain services presenting this certificate,
        including when the certificate was first observed.

        **Cursor Pagination**

        This endpoint relies on using cursors for efficient pagination. Each result may
        return a `next` cursor value which can be used to fetch additional pages of results.
        This endpoint only support forward-pagination.

        ```json
        {
          "links": {
            "next": "nextCursorToken"
          },
          [Rest of Response]
        }
        ```
        The returned cursor token values can be added to the endpoint as a `cursor`
        parameter to fetch the next page of results.
        The entire set of results can be iterated page-by-page using returned
        cursors. If no cursor is given, the first page will be returned.
      operationId: getHostsByCert
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
            maxLength: 64
        - name: cursor
          in: query
          description:
            Cursor token from the API response, which fetches the next page of hosts when added to the endpoint URL.
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      fingerprint:
                        type: string
                        description: The SHA-256 fingerprint of the certificate.
                      hosts:
                        type: array
                        items:
                          type: object
                          properties:
                            ip:
                              type: string
                            name:
                              type: string
                              description: Name provided if host is a virtual host.
                            observed_at:
                              type: string
                              format: date-time
                              description: Time when certificate was observed.
                            first_observed_at:
                              type: string
                              format: date-time
                              description: Time when the certificate was first observed.
                      links:
                        type: object
                        properties:
                          next:
                            type: string
                            example: "nextCursorToken"
        429:
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                tooManyRequestsExample:
                  $ref: "#/components/examples/tooManyRequestsExample"
  /v2/certificates/{fingerprint}/comments:
    get:
      tags:
        - certificates v2
        - comments
      summary: Returns a list of comments on the given cert.
      description: |
        Returns a list of comments on the given certificate.
      operationId: getCommentsByCert
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      fingerprint:
                        type: string
                        example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
                      comments:
                        type: array
                        items:
                          $ref: "#/components/schemas/CertComment"
    post:
      tags:
        - certificates v2
        - comments
      summary: Adds a comment on the given cert.
      description: |
        Adds a comment on the given certificate.
      operationId: addCommentByCert
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  example: "**This is a comment.**"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/CertComment"
  /v2/certificates/{fingerprint}/comments/{comment_id}:
    get:
      tags:
        - certificates v2
        - comments
      summary: Returns a comment on the given cert.
      description: |
        Returns a comment on the given certificate.
      operationId: getCommentByCert
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
        - name: comment_id
          in: path
          description: The ID of the requested comment.
          required: true
          schema:
            type: string
            example: "123"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/CertComment"
    put:
      tags:
        - certificates v2
        - comments
      summary: Updates a comment on the given cert.
      description: |
        Updates a comment on the given certificate.
      operationId: updateCommentByCert
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
        - name: comment_id
          in: path
          description: The ID of the requested comment.
          required: true
          schema:
            type: string
            example: "123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contents:
                  type: string
                  example: "**This is a comment.**"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/CertComment"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  error:
                    type: string
                    example: "Not Found"
    delete:
      tags:
        - certificates v2
        - comments
      summary: Deletes a comment on the given cert.
      description: |
        Deletes a comment on the given certificate.
      operationId: deleteCommentByCert
      parameters:
        - name: fingerprint
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
        - name: comment_id
          in: path
          description: The ID of the requested comment.
          required: true
          schema:
            type: string
            example: "123"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      fingerprint:
                        type: string
                        example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
                      comments:
                        type: array
                        items:
                          $ref: "#/components/schemas/CertComment"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  error:
                    type: string
                    example: "Not Found"
  /v1/view/certificates/{sha256}:
    get:
      tags:
        - certificates v1
      summary: Returns structured certificate data for the specified SHA-256 fingerprint
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe view endpoint returns the current structured data we have on a specific certificate."
      operationId: viewCertificate
      parameters:
        - name: sha256
          in: path
          description: The SHA-256 fingerprint of the requested certificate.
          required: true
          schema:
            type: string
            example: 9d3b51a6b80daf76e074730f19dc01e643ca0c3127d8f48be64cf3302f6622cc
            maxLength: 64
      responses:
        200:
          description: The record was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
        404:
          description: The requested record does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1NotFoundExample:
                  $ref: "#/components/examples/v1NotFoundExample"
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/search/certificates:
    post:
      tags:
        - certificates v1
      summary: Returns a list of certificates that match the given query
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe search endpoint allows searches against the current data in
        the Certificates index using the [legacy search syntax](https://search.censys.io/certificates/help).
        The endpoint returns a paginated result set of hosts (or websites or certificates)
        that match the search. Data should be posted as a JSON request document."
      operationId: searchCertificates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  example: "validation.nss.valid: true"
                page:
                  type: integer
                  example: 1
                fields:
                  type: array
                  items:
                    type: string
                    example: parsed.fingerprint_sha256
                flatten:
                  type: boolean
                  example: false
      responses:
        200:
          description: The search or query executed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  metadata:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 127530942
                      query:
                        type: string
                        example: "*"
                      page:
                        type: integer
                        example: 1
                      pages:
                        type: integer
                        example: 1275310
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Certificate"
        400:
          description: Your query could not be executed (e.g., query could not be parsed or timed out.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1BadRequestExample:
                  $ref: "#/components/examples/v1BadRequestExample"
        404:
          description: Specified search index was not valid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1NotFoundExample:
                  $ref: "#/components/examples/v1NotFoundExample"
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/report/certificates:
    post:
      tags:
        - certificates v1
      summary: Returns a report for the given query
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe build report endpoint lets you run aggregate reports on the breakdown of a field in a
        result set analogous to the \"Build Report\" functionality in the front end."
      operationId: generateCertificateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  example: "parsed.names: 1.1.1.1"
                field:
                  type: string
                  example: parsed.issuer.country.raw
                buckets:
                  type: integer
                  default: 50
                  maximum: 1000
      responses:
        200:
          description: The report was successfully generated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        doc_count:
                          type: integer
                    example:
                      - key: US
                        doc_count: 1000
                      - key: CN
                        doc_count: 100
                    maxItems: 1000
                  metadata:
                    type: object
                    properties:
                      query:
                        type: string
                        example: "parsed.names: 1.1.1.1"
                      count:
                        type: integer
                        example: 2570
                      buckets:
                        type: integer
                        example: 50
                      backend_time:
                        type: integer
                        example: 100
                      nonnull_count:
                        type: integer
                        example: 2000
                      other_result_count:
                        type: integer
                        example: 10
                      error_bound:
                        type: integer
                        example: 0
        400:
          description: Your query could not be executed (e.g., query could not be parsed or timed out.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1BadRequestExample:
                  $ref: "#/components/examples/v1BadRequestExample"
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/bulk/certificates:
    post:
      tags:
        - certificates v1
      summary: Returns structured data about certificates in bulk for the specified SHA-256 fingerprints
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe bulk endpoint returns, in bulk, the current structured data on many specific certificates.
        \n\nEach requested certificate will be available as a key in the response, regardless of whether or
        not we know anything about them. Any certificates which we don't know anything about will be replaced
        by an error, as shown at the top of the example below."
      operationId: bulkCertificateLookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fingerprints:
                  type: array
                  items:
                    type: string
                  maxItems: 50
                  example:
                    - "13a88367a15e4e0e9d77158c95e6718d9158ac1bc30619f29ba7bf7d5befc50f"
                    - "48177e03b47bdcb3b6ab28a92f8005b95302418cd5b9ede77a97eb918e4a2da2"
                    - "d1997c5365c6f2c8205ef8bf1e146dc9ab5bc61e74f3c2dc146e0a509352ea77"
      responses:
        200:
          description: The records were successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
              examples:
                bulkCertificatesExample:
                  summary: Successful response
                  value:
                    13a88367a15e4e0e9d77158c95e6718d9158ac1bc30619f29ba7bf7d5befc50f:
                      error: "We do not know anything about this certificate."
                      error_type: "unknown"
                      status: "error"
                    48177e03b47bdcb3b6ab28a92f8005b95302418cd5b9ede77a97eb918e4a2da2:
                      parsed: {}
                      metadata: {}
                      ct: {}
                    ...: {}
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/data:
    get:
      tags:
        - data
      summary: Returns data on the types of scans (series) we perform
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe Get Series endpoint returns a data on the types of scans we regularly perform (series)."
      operationId: getSeries
      responses:
        200:
          description: We were able to successfully retrieve a list of series.
          content:
            application/json:
              schema:
                type: object
                properties:
                  primary_series:
                    type: object
                    additionalProperties:
                      type: string
                  raw_series:
                    type: object
                    additionalProperties:
                      type: string
              examples:
                getSeriesExample:
                  summary: Successful response
                  value:
                    primary_series:
                      certificates:
                        id: "certificates"
                        name: "All X.509 Certificates"
                        description: "..."
                        details_url: "https://..."
                        latest_result: {}
                      domains: {}
                      ipv4: {}
                    raw_series:
                      22-ssh-banner-full_ipv4:
                        {}
                      ...: {}
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/data/{series}:
    get:
      tags:
        - data
      summary: Returns data about a specified scan (series)
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe View Series endpoint returns data we have about a particular series—a scan of the same
        protocol and destination across time—including the list of scans."
      operationId: viewSeries
      parameters:
        - name: series
          in: path
          description: The ID of the series.
          required: true
          schema:
            type: string
            example: "certificates-daily-added"
      responses:
        200:
          description: We were able to successfully retrieve a series.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "certificates-daily-added"
                  name:
                    type: string
                    example: "Certificates by date added"
                  description:
                    type: string
                    example: "..."
                  results:
                    type: object
                    properties:
                      historical:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            timestamp:
                              type: string
                            details_url:
                              type: string
                        example:
                          - id: "20150912T1329"
                            timestamp: "20150912T132919"
                            details_url: "https://..."
                          - id: "20150930T0056"
                            timestamp: "20150930T005634"
                            details_url: "https://..."
                      latest:
                        type: object
                        properties:
                          id:
                            type: string
                          timestamp:
                            type: string
                          details_url:
                            type: string
                        example:
                          id: "20150930T0056"
                          timestamp: "20150930T005634"
                          details_url: "https://..."
        404:
          description: The requested series does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1NotFoundExample:
                  $ref: "#/components/examples/v1NotFoundExample"
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/data/{series}/{result}:
    get:
      tags:
        - data
      summary: Returns data on a particular scan
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe View Result endpoint returns data on a particular scan (result), as found in the Get
        Series or View Series endpoints."
      operationId: viewResult
      parameters:
        - name: series
          in: path
          description: The ID of the series.
          required: true
          schema:
            type: string
            example: "certificates-daily-added"
        - name: result
          in: path
          description: The ID of the result.
          required: true
          schema:
            type: string
            example: "20150930T0056"
      responses:
        200:
          description: We were able to successfully retrieve a result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "20150930T0056"
                  timestamp:
                    type: string
                    example: "20150930T005634"
                  files:
                    type: object
                    properties:
                      zmap-results:
                        type: object
                        properties:
                          file_type:
                            type: string
                            example: csv
                          schema:
                            type: object
                          download_path:
                            type: string
                            example: "https://..."
                          sha256_fingerprint:
                            type: string
                            example: 693b6bdd6b954aed3981ca9d801bb1317bfdb19f560f968781823b9abef8eaa3
                          size:
                            type: integer
                            example: 304
                      zgrab-results:
                        type: object
                        additionalProperties:
                          type: object
                        properties:
                          file_type:
                            type: string
                            example: csv
                          schema:
                            type: object
                            properties:
                              timestamp:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: "date"
                              ip:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: "ip"
                          download_path:
                            type: string
                            example: "https://..."
                          sha256_fingerprint:
                            type: string
                            example: 693b6bdd6b954aed3981ca9d801bb1317bfdb19f560f968781823b9abef8eaa3
                          size:
                            type: integer
                            example: 304
                      download_path:
                        type: string
                        example: "https://..."
                      sha256_fingerprint:
                        type: string
                        example: cdd962fe956674749ef5d40d59c423a0be77432a246bcd223c3346576c9479ff
                      size:
                        type: integer
                        example: 21707
        404:
          description: The requested series or result does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1NotFoundExample:
                  $ref: "#/components/examples/v1NotFoundExample"
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v1/account:
    get:
      tags:
        - account
      summary: Returns information about your account
      description:
        "> The Censys legacy v1 API contains API endpoints which are being maintained until replacement v2 endpoints are available.
        \n\nThe Account endpoint returns information about your Censys account. Most importantly, you
        can use this endpoint to check on your current query quota usage."
      operationId: account
      responses:
        200:
          description: Account information was successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  login:
                    type: string
                    example: "john_doe"
                  email:
                    type: string
                    example: "john@example.com"
                  first_login:
                    type: string
                    example: "2018-01-01 12:00:00"
                  last_login:
                    type: string
                    example: "2021-01-01 12:00:00"
                  quota:
                    type: object
                    properties:
                      used:
                        type: integer
                        example: 10
                      resets_at:
                        type: string
                        example: "2021-02-01 12:00:00"
                      allowance:
                        type: integer
                        example: 250
        403:
          description: Your request did not include a valid Authorization header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1ForbiddenExample:
                  $ref: "#/components/examples/v1ForbiddenExample"
        429:
          description: Your query was not executed because you have exceeded your specified rate limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1RateLimitExceededExample:
                  $ref: "#/components/examples/v1RateLimitExceededExample"
        500:
          description: An unexpected error occurred when trying to execute your query. Try again at a later time or contact us at [support@censys.io](mailto:support@censys.io) if the problem persists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ApiErrorResponse"
              examples:
                v1InternalServerErrorExample:
                  $ref: "#/components/examples/v1InternalServerErrorExample"
  /v2/tags:
    get:
      tags:
        - tags
      summary: Returns a list of all tags
      description: Returns a list of all tags for a team
      operationId: listTags
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          $ref: "#/components/schemas/Tag"
    post:
      tags:
        - tags
      summary: Creates a new tag
      description: Creates a new tag for a team
      operationId: createTag
      requestBody:
        description: Tag to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tag"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
                    $ref: "#/components/schemas/Tag"
  /v2/tags/{id}:
    get:
      tags:
        - tags
      summary: Returns a tag
      description: Returns a tag for a team
      operationId: getTag
      parameters:
        - name: id
          in: path
          description: The unique ID of the tag.
          required: true
          schema:
            type: string
            example: "123"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                properties:
                  result:
[...]
